<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Java - Capstone2">
    <test name="User">
        <classes>
            <class name="com.knowledgehut.chocostore.test.ChocolatesRestApiTest"/>
            <methods>
                <include name="testChocolatesApi" alias="Chocolate API should work"/>
                <include name="testChocolates" alias="Get chocolates should work"/>
                <include name="testChocolatesForLength" alias="Get chocolates should return 3 chocolates"/>
            </methods>
        </classes>
    </test>
</suite>
